.p-inputtext{
  height:40px !important;
}
.btn1{
  .p-button{
    border-radius:10px !important;
    height:45px !important;
  }
}

.p-inputnumber-buttons-stacked .p-inputnumber-button-group{
  height:40px !important;
}
.p-divider.p-divider-horizontal{
  padding:5px !important;
  margin:5px !important;
}
