<div class="row p-5">
  <div class="col-md">
    <div class="product-card p-3">
      <div class="hot">DS</div>
      <img src="assets/phone.jpg" alt="mentor" width="100%">
      <p-divider></p-divider>
     <div class="d-flex justify-content-between p-2 ">
       <b class="h4">Phone Case</b> <br>
       <b class="h4 text-success">20.00 CHF</b>
     </div>
      <span class="p-2">Resolution 23x32mm - Carboon Case 3i78788</span><br><br>
      <button class="button-87 w-100" routerLink="/client" role="button">Concepteur</button>
    </div>
  </div>
  <div class="col-md">
    <div class="product-card p-3">
      <div class="hot">DS</div>
      <img src="assets/phone.jpg" alt="mentor" width="100%">
      <p-divider></p-divider>
      <div class="d-flex justify-content-between p-2 ">
        <b class="h4">Phone Case</b> <br>
        <b class="h4 text-success">20.00 CHF</b>
      </div>
      <span class="p-2">Resolution 23x32mm - Carboon Case 3i78788</span><br><br>
      <button class="button-87 w-100"  role="button">Concepteur</button>
    </div>
  </div>
  <div class="col-md">
    <div class="product-card p-3">
      <div class="hot">DS</div>
      <img src="assets/phone.jpg" alt="mentor" width="100%">
      <p-divider></p-divider>
      <div class="d-flex justify-content-between p-2 ">
        <b class="h4">Phone Case</b> <br>
        <b class="h4 text-success">20.00 CHF</b>
      </div>
      <span class="p-2">Resolution 23x32mm - Carboon Case 3i78788</span><br><br>
      <button class="button-87 w-100"  role="button">Concepteur</button>
    </div>
  </div>
  <div class="col-md">
    <div class="product-card p-3">
      <div class="hot">DS</div>
      <img src="assets/phone.jpg" alt="mentor" width="100%">
      <p-divider></p-divider>
      <div class="d-flex justify-content-between p-2 ">
        <b class="h4">Phone Case</b> <br>
        <b class="h4 text-success">20.00 CHF</b>
      </div>
      <span class="p-2">Resolution 23x32mm - Carboon Case 3i78788</span><br><br>
      <button class="button-87 w-100"  role="button">Concepteur</button>
    </div>
  </div>
  <div class="col-md">
    <div class="product-card p-3">
      <div class="hot">DS</div>
      <img src="assets/phone.jpg" alt="mentor" width="100%">
      <p-divider></p-divider>
      <div class="d-flex justify-content-between p-2 ">
        <b class="h4">Phone Case</b> <br>
        <b class="h4 text-success">20.00 CHF</b>
      </div>
      <span class="p-2">Resolution 23x32mm - Carboon Case 3i78788</span><br><br>
      <button class="button-87 w-100" routerLink="/client" role="button">Concepteur</button>
    </div>
  </div>
</div>
